header {
    display: block;
    
    width: 90vw;
    margin: 1vh auto;
    
    flex-wrap: wrap;
    align-content: space-between;
    padding: 1vw;
  
    h4 {
        text-align: center;
        display: block;
        padding: initial;
    }
    nav {
        display: inline-block;
        align-content: space-between;
        
        a {
            padding: 0 2.5vw 0 2.5vw;
        }
    }

}

body {
    background-color: wheat;
}

