* {
    margin: 0;
    padding: 0;
}

header {
    max-height: 50vh;
    display: flex;
    background-image: url("../images/space.jpg");
    background-size: cover;
    max-width: 100vw;
    align-content: space-between;
    
  
    h4 {
        color: white;
        margin-top: 1vh;
        display: block;
        text-align: center;
        width: 50vw;
        justify-content: center;
        
    }
    nav {
        display: inline-block;
        align-content: space-between;
        width: 50vw;
        margin-top: 1vh;
        flex-wrap: wrap;
        a {
            padding: 0 2vw 0 2vw;
        }

        a:link {
            color: white;
        }

        a:visited {
            color: white;
        }

        a:hover {
            color: yellow;
        }
    }

}

body {
    background-color: wheat;
    max-height: 100vh;
    max-width: 100vw;
}

.welcome-flex {
    display: flex;
    max-height: inherit;
    max-width: inherit;
    flex-direction: column;
    h1 { 
        margin: 1vh;
        text-align: center;
    }
    img {
        max-height: 70vh;
        max-width: 70vw;
        margin: 5% 15% 5% 15%;
    }
    p {
        text-align: center;
        justify-content: flex-end;
        padding-bottom: 1vh;
    }

}


footer {
    color: white;
    display: flex;
    background-image: url("../images/space.jpg");
    background-size: cover;
    max-width: 100vw;
    align-content: space-between;
    h3 {
        text-align: center;
        width: 50vw;
        margin-top: 1vh;
            }
    nav {
        flex-wrap: wrap;
        display: flex;
        width: 50vw;
        align-content: space-between;
        justify-content: center;
        margin: 1vh;
        
        a {
            padding: 0 2vw 0 2vw;
        }
        a:link {
            color: white;
        }

        a:visited {
            color: white;
        }

        a:hover {
            color: yellow;
        }
  
    }
}